.catalog-content__top{
	display:flex;
	justify-content:flex-end;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    color:#4a4a4a;
	font-size:18px;
    >div{
        display:flex;
        justify-content:space-between;
        align-items:center;
        width:50%;
	    div:first-child{
	       input{
	            display:none;
	       }
	       input:checked+label div{
	            background:gainsboro;
	       }
	       label{
	            font-family:Roboto-Light;
	            cursor:pointer;
	            display:flex;
	            align-items:center;
	            div{
	                width:30px;
	                height:30px;
	                margin:5px;
	                border:1px solid #b0b0b0;
	                border-radius:20px;
	                margin-right:10px;
	            }
	        }
	    }
	    div:last-child{
	        font-family:Roboto-Light;
	        input{
	            display:none;
	        }
	        label{
	            cursor:pointer;
	        }
            label:after{
                content:" А → Я ";
                font-family:Roboto-Medium;
            }
            input:checked+label:after{
                content:" А ← Я ";
            }
	    }
    }
}
@media screen and (max-width:1024px){
.catalog-content__top{
    >div{
        width:100%;
    }
}	
}
@media screen and (max-width:768px){
.catalog-content__top{
    font-size:14px;
    >div{
        width:100%;
        flex-wrap:wrap;
        div:first-child{
            label{
                div{
                    width:15px;
                    height:15px;
                }
            }

        }
    }
}	
}
@media screen and (max-width:425px){
.catalog-content__top{
    >div{
        justify-content:center;
    }
}	
}