.header__nav_menu-in {
  -webkit-animation: left-in 1s;
          animation: left-in 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes left-in {
  from {
    right: -70%; }
  to {
    right: 0%; } }

@keyframes left-in {
  from {
    right: -70%; }
  to {
    right: 0%; } }
