.header__nav {
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4a4a4a;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .header__nav > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header__nav > div div {
      margin-left: 10px; }
      .header__nav > div div p {
        font-family: Roboto-Regular;
        font-size: 10px;
        margin: 0px; }
  .header__nav img {
    width: 60px;
    height: 60px; }
  .header__nav h4 {
    font-family: Roboto-Medium;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px; }
  .header__nav p.header__nav-p {
    font-family: Light;
    font-size: 18px;
    margin: 0px; }
    .header__nav p.header__nav-p span {
      font-family: Roboto-Medium; }
  .header__nav a {
    display: block;
    text-align: center;
    line-height: 25px;
    background: url("../img-min/button-border_4.png");
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    cursor: pointer;
    width: 123px;
    height: 25px;
    color: #4a4a4a;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .header__nav a:hover {
    color: #4ab75e;
    text-decoration: underline; }

.header__nav-button {
  display: block !important;
  font-family: Roboto-Light;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  border: 2px solid #4a4a4a;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  cursor: pointer;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.header__nav-button:hover {
  color: #4fb1f6;
  border-color: #4fb1f6; }

@media screen and (max-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media screen and (max-width: 425px) {
  .header__nav {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .header__nav > div {
      display: none; } }
