.page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,1);
    z-index: 100500;
}
.page-preloader .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    $X:70deg;
    $color: #4a4a4a;
    $speed:1s;
    figure {width:150px;height:150px;transform:translate(-50%,-65%);margin:0;position:absolute;left:50%;top:50%;}
    figure div{width:100%;height:100%;position:absolute;}
    figure div:after{content:"";position:absolute;left:0;top:0;width:100%;height:100%;border-top:25px solid $color;border-right:5px solid $color;border-bottom:10px solid transparent;border-left:0px solid transparent;border-radius:50%;}
    figure div:nth-child(1):after{animation:ring $speed linear infinite;transform:rotateX($X) rotateY(0deg) rotate(0deg)}
    figure div:nth-child(2):after{animation:ring2 $speed linear infinite;animation-delay:($speed/-2);transform:rotateX($X) rotateY(60deg) rotate(0deg)}
    figure div:nth-child(3):after{animation:ring3 $speed linear infinite;animation-delay:($speed/-3);transform:rotateX($X) rotateY(-60deg) rotate(0deg)}
    @keyframes ring{100%{transform:rotateX($X) rotateY(0deg) rotate(360deg)}}
    @keyframes ring2{100%{transform:rotateX($X) rotateY(60deg) rotate(360deg)}}
    @keyframes ring3{100%{transform:rotateX($X) rotateY(-60deg) rotate(360deg)}}
}