.news-block {
  padding: 90px 14.5%;
  background-color: #017c01;
  background-image: url("../img-min/news_background.png"); }
  .news-block h3 {
    font-size: 48px;
    font-family: Roboto-Slab;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px; }

@media screen and (max-width: 1368px) {
  .news-block {
    padding: 90px 2%; } }

@media screen and (max-width: 768px) {
  .news-block {
    padding: 60px 2% !important; }
    .news-block h3 {
      font-size: 36px; } }

@media screen and (max-width: 1368px) {
  .news-block {
    padding: 90px 2%; } }

@media screen and (max-width: 768px) {
  .news-block time {
    margin-top: 15px; }
  .news-block h4 {
    margin-top: 20px; } }
